bb-session.old-active {
  transform: inherit;
  filter: brightness(50%);
  z-index: 0;
}
bb-session.active {
  transform: inherit;
  z-index: 1;
  display: block;
}
bb-session {
  --height: 0px;
  position: fixed;
  /* display: none; */
  transition: all 0.2s;
  /* overflow: auto; */
  transform: translateY(var(--height)) scale(0.2) translateX(50%);
  transform-origin: top right;
  z-index: 2;
}

bb-session.fullscreen:not(.active){
  /* Push inactive sessions completely offscreen */
  display: none;
}

.link {
  background-color: rgba(255,0,0,0.1);
  z-index: 9999;
  cursor: pointer;
  position: absolute;
  border: 0.5px solid rgba(255,0,0,0.4);
  border-radius: 3px;
}

.link.alive {
  border: 0.5px solid rgba(0,255,0,0.4);
}

.t {
  transform-origin: 0px 0px 0px;
  position: absolute;
}

.scroll {
  overflow: scroll;
}

.keyboard {
  width: 0px; height: 0px; position: absolute; z-index: -999; opacity: 0;
}

::-webkit-scrollbar {
  display: none;
}

#browser {
    width: 100vw;
    height: 100vh;
}

/* Phone emulation for desktop browsers */

@media screen and (min-width: 800px) {
  /* The device with borders */
  .smartphone {
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
  }

  /* The horizontal line on the top of the device */
  .smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }

  /* The circle on the bottom of the device */
  .smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
  }

  /* The screen (or content) of the device */
  .smartphone #browser {
    width: 360px;
    height: 640px;
    background: white;
  }
}
